<!DOCTYPE html>
<html>
<head>
    <title>Calculadora de Carbono</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Calculadora de Huella de Carbono</h1>
    <form method="POST">
        <label for="km">Kilómetros recorridos:</label>
        <input type="number" step="any" name="km" required>
        <button type="submit">Calcular</button>
    </form>

    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>
